.calendar-container {
  background-color: rgb(230, 230, 230);
  padding: 10px;
}
.calendar-controls {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  padding: 20px;
  justify-content: flex-end
}

mat-form-field {
  width: 200px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 10px;
  
}

.weekday {
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 10px;
}

.calendar-card {
  padding: 8px;
  border-radius: 10px;
  min-height: 10px;
}

.calendar-placeholder {
  height: 100px;
}
textarea {
  resize: none; 
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  padding: 4px;
  box-sizing: border-box;
  overflow: hidden;
}

.calendar-wrapper {
  overflow-x: auto;
}